@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Startseite";
}

@model Project_cathalogue.Models.ProjectModel



@{

    ViewBag.Title = "Home Page";
}

<div style="color:aqua">
    <h1>PROJECT ADMINISTRATION</h1>
</div>


<div class="row">
    <div class="offset-10 col-2">
        <button class="btn btn-block" data-target="#newProjectContainer" data-toggle="collapse">Add Project</button>
    </div>
</div>
<div class="row">
    <div class="collapse col-12" id="newProjectContainer">
        @using (Ajax.BeginForm("addProject", "Home", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "newProjectResult" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <!-- fist column -->
                <div class="col-5">
                    <!-- first line -->
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                @Html.TextBoxFor(model => model.Name, new
                                {
                                    @class = "form-control",
                                    type = "text"
                                })
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <!-- TODO must be retrieved from database -->
                                @Html.DropDownListFor(model => model.Status,
                                    new SelectList(new string[] { "Open", "Accepted", "Started", "Finished", "Denied" }, "Open"),
                                    htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>
                    </div>
                    <!-- second line -->
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Kategorie</label>
                                <!-- TODO must be retrieved in database -->
                                @Html.DropDownListFor(model => model.CategoryId,
                                    new SelectList(ViewBag.Categories, "Id", "Name", "-- Select --"),
                                    htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Vorlesung</label>
                                <!-- TODO must be retrieved in database -->
                                @Html.DropDownListFor(model => model.CourseId,
                                new SelectList(ViewBag.Courses, "Id", "Name", "-- Select --"),
                                htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <!-- third line -->
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Startdatum</label>
                                @Html.TextBoxFor(model => model.Start, new
                                {
                                    @class = "form-control",
                                    type = "date"
                                })
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Abgabedatum</label>
                                @Html.TextBoxFor(model => model.End, new
                                {
                                    @class = "form-control",
                                    type = "date"
                                })

                            </div>
                        </div>
                    </div>
                    <!-- fourth line -->
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Tags</label>
                                <textarea class="form-control" placeholder="Tags getrennt durch Leerzeichen..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- second column -->
                <div class="col-5">
                    <div class="form-group">
                        <label class="control-label">Beschreibung</label>
                        @Html.TextAreaFor(model => model.Description, new
                        {
                            @class = "form-control",
                            type = "text",
                        })
                    </div>
                </div>
                <div class="col-2">
                    <div id="newProjectButtonsContainer">
                        <input class="btn btn-primary btn-block" type="submit" value="Add" />
                        <input class="btn btn-warning" id="resetNewProject" type="reset" value="Reset All" />
                        <a class="btn btn-danger" id="closeNewProject" data-target="#newProjectContainer" data-toggle="collapse">Close</a>
                    </div>
                </div>
            </div>
            <div class="newProjectResult">ViewBag.AddProjectResult</div>
        }
    </div>
</div>

<div class="row">
    <div class="col-4">
        <h2>Ingenieur Informatik</h2>
        <div><a href="https://ii.htw-berlin.de/" class="btn btn-primary btn-lg">IIberlin &raquo;</a></div>
        <p><a></a></p>
    </div>
    <div class="col-4">

    </div>
    <div class="col-4">
        <h2>Fachbereich2</h2>
        @ViewBag.test
        <p></p>
        <p><a></a></p>
        <div><a href="https://www.f2.htw-berlin.de/" class="btn btn-primary btn-lg">FB2 &raquo;</a></div>
    </div>
</div>



